<div class="card-container">
    <strong>My Wallet</strong>
    <mat-card class="debit-card-bx">
        <ng-container *ngIf="cardList.length>0;else cardTemp">
            <div class="start-center" *ngFor="let card of cardList;let cardIndex=index">
                <mat-card class="space-between">
                    <div>
                        <span>Debit Card Number</span>
                        <strong>{{card?.cardNo | cardNumber:card?.cardType}}</strong>
                    </div>
                    <div class="card-logo center-center">
                        <img *ngIf="card?.cardType=='visa'" src="./assets/visa-card.svg" alt="visa" width="30px">
                        <img *ngIf="card?.cardType=='american'" src="./assets/american.svg" alt="american" width="30px">
                    </div>
                </mat-card>
                <button mat-button class="btn-primary" (click)="deleteCard(card,cardIndex)">Remove</button>
            </div>
        </ng-container>
        <ng-template #cardTemp>
            <strong>No card Found</strong>
        </ng-template>
        <div class="btn-bx">
            <button mat-button class="btn-add" (click)="addCard()">Add New Card</button>
        </div>
    </mat-card>
</div>