.card-container {
    padding: 48px 24px;
    .mat-button.btn-primary {
        width: 90px;
    }
    > strong {
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
        font-weight: 600;
    }
    .mat-card.debit-card-bx {
        padding: 8px 16px;
        > * {
            padding: 8px;
            .mat-card {
                width: calc(100% - 100px);
                margin-right: 20px;
            }
            span,
            strong {
                display: block;
            }
            strong {
                margin-top: 4px;
                font-size: 16px;
            }
        }
    }
}
