.popup-header {
    padding: 16px;
    strong {
        font-size: 14px;
    }
}

.popup-content {
    padding: 0 24px 22px 24px;
    .input-bx {
        padding: 4px;
        label {
            font-size: 10px;
            margin-bottom: 4px;
            display: block;
            color: #505f79;
        }
        input {
            background-color: #fff;
            width: 100%;
            height: 32px;
            padding: 0 8px;
            color: #091e42;
            font-size: 12px;
            font-weight: 600;
            border: solid 1px #dfe1e6;
            border-radius: 4px;
            &::placeholder {
                font-size: 12px;
                color: #97a0af;
                font-weight: 300;
            }
            &:hover {
                background-color: #fafbfc;
            }
            &:focus {
                border: solid 1px #0000ff;
            }
        }
        &.cvv,
        &.card-input {
            position: relative;
            input {
                padding-right: 28px;
            }
            img,
            .card-logo {
                position: absolute;
                right: 9px;
                bottom: 11px;
            }
        }
        &.card-input {
            margin-bottom: 8px;
            .card-logo {
                width: 55px;
                bottom: 8px;
                img {
                    position: absolute;
                    left: 11px;
                    top: 6px;
                }
            }
        }
    }
    .select-bx {
        .input-bx {
            width: 33.33%;
        }
    }
    .btn-bx {
        padding: 12px 4px;
        button {
            width: 150px;
        }
    }
}
