<form [formGroup]="cardForm">
    <div class="space-between popup-header">
        <strong>Add New Card</strong>
        <a href="javascript:void(0)" class="center-center" mat-dialog-close>
            <img src="./assets/close.svg" alt="close" width="20px">
        </a>
    </div>
    <div class="popup-content">
        <div class="input-bx card-input">
            <label for="card">Enter Debit / Credit Card Number</label>
            <input type="text" appCard placeholder="Enter Debit / Credit Card Number" formControlName="cardNo">
            <div class="card-logo center-center">
                <img src="./assets/visa-card.svg" alt="visa-card" width="30px"
                    *ngIf="cardForm.get('cardType').value=='visa'">
                <img src="./assets/american.svg" alt="visa-card" width="30px"
                    *ngIf="cardForm.get('cardType').value=='american'">
            </div>
        </div>
        <div class="start-center select-bx">
            <div class="input-bx">
                <label for="">Expiry Month</label>
                <mat-form-field class="ctm-mat-select" floatLabel="never">
                    <mat-select matNativeControl placeholder="MM" disableOptionCentering name="month"
                        formControlName="month">
                        <mat-option *ngFor="let month of monthList" [value]="month">{{month<10?0:''}}{{month}}
                                </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input-bx">
                <label for="">Expiry Year</label>
                <mat-form-field class="ctm-mat-select" floatLabel="never">
                    <mat-select matNativeControl placeholder="YY" disableOptionCentering name="year"
                        formControlName="year">
                        <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input-bx cvv">
                <label for="">CVV</label>
                <input type="text" placeholder="CVV" formControlName="cvv">
                <img src="./assets/cvv.svg" alt="cvv" width="18px">
            </div>
        </div>
        <div class="btn-bx">
            <button mat-button class="btn-add" [disabled]="cardForm.invalid" (click)="saveData()">Add Card</button>
        </div>
    </div>
</form>