.popup-header {
    padding: 16px;
    strong {
        font-size: 14px;
    }
}
.popup-content {
    padding: 0 24px 22px 24px;
    strong {
        display: block;
        margin-bottom: 24px;
        text-align: center;
        font-size: 16px;
    }
    .btn-bx {
        button {
            width: 100px;
            margin-right: 10px;
        }
        .mat-button.btn-add {
            height: 38px;
        }
    }
}
