<div class="end-center popup-header">
    <a href="javascript:void(0)" class="center-center" mat-dialog-close>
        <img src="./assets/close.svg" alt="close" width="20px">
    </a>
</div>
<div class="popup-content">
    <strong>Are you sure want to delete this card?</strong>
    <div class="btn-bx center-center">
        <button mat-button class="btn-add" (click)="save()">OK</button>
        <button mat-button class="btn-primary" mat-dialog-close>Cancel</button>
    </div>
</div>