/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Open Sans", sans-serif;
}
html,
body {
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0;
    font-size: 12px;
}
:focus {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
img {
    max-width: 100%;
}
.start-center,
.center-center,
.end-center,
.space-between {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
.center-center {
    justify-content: center !important;
}
.end-center {
    justify-content: flex-end !important;
}
.space-between {
    justify-content: space-between !important;
}
.spacer {
    flex: 1 1 auto;
}
.mat-button.btn-primary {
    background: #fff;
    color: #0000ff;
    font-weight: 600;
    border: solid 1px #0000ff;
}
.mat-button.btn-secondary {
    background: #eee;
    font-weight: 600;
}
.mat-button.btn-add {
    background-image: linear-gradient(to right, rgba(30, 144, 255, 0.6), #1e90ff);
    width: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    &:disabled {
        background-image: none;
        background: #dcdcdc;
        color: #fff;
    }
}
strong {
    font-weight: 600;
}
mat-card.mat-card {
    border: solid 1px #eee;
    box-shadow: none !important;
    width:50%;
}
p {
    margin: 0;
}
.cdk-overlay-pane .mat-dialog-container {
    padding: 0;
}

.mat-form-field.ctm-mat-select {
    height: 32px;
    width: 100%;
    font-size: 12px;
    color: #091e42;
    background-color: #fff;
    border-radius: 4px;
    .mat-form-field-wrapper {
        padding-bottom: 0;
        height: inherit;
        width: 100%;
        .mat-form-field-flex {
            padding: 0;
            height: 100%;
            padding: 0 8px;
            border-radius: 4px;
            border: solid 1px #dfe1e6;
            .mat-form-field-infix {
                padding: 0;
                margin: 0;
                border-top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .mat-select {
                    height: 100%;
                    .mat-select-trigger {
                        height: 100%;
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        .mat-select-arrow-wrapper {
                            background: url("./assets/arrow-down.svg") no-repeat center center;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            top: initial;
                            background-size: auto 20px;
                            right: 0;

                            * {
                                display: none;
                            }
                        }
                        .mat-select-value {
                            color: #091e42;
                            font-weight: 600;
                            font-size: 12px;
                            max-width: initial;
                            padding-right: 16px;
                        }
                    }
                }

                .mat-form-field-label-wrapper {
                    padding: 0;
                    margin: 0;
                    height: 32px;
                }
            }
        }
        .mat-form-field-underline {
            display: none;
        }
    }
    &.mat-focused .mat-form-field-flex {
        border: solid 1px #0000ff !important;
    }
}

.card-logo {
    min-height: 24px;
    padding: 4px 6px;
    border-radius: 4px;
    border: solid 1px #eee;
}
