@import "src/assets/SCSS/abstracts/functions";
@import "src/assets/SCSS/abstracts/variables";
.mat-form-field.chip-list {
    padding: 0;
}
.icon-va-filter-list {
    color: $neutral-mid4;
    font-size: 16px;
}
