<form [formGroup]="autoForm">
    <div class="chip-input with-layout">
        <mat-form-field class="chip-list">
            <mat-icon class="input-icon chip-icon visible left-0" fxLayoutAlign="center center">
                <span class="icon-box icon-va-filter-list"></span>
            </mat-icon>
            <mat-chip-list class="chip-wrapper" #chipList aria-label="">
                <mat-chip *ngFor="let query of searchList;let chipIndex=index" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(chipIndex)">
                    {{query}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [matChipInputFor]="chipList" placeholder="{{filterConfig?.placeHolder}}"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
                    [matAutocomplete]="auto" [value]="chipValue" autocomplete="off" #chipInput id="chip"
                    (input)="getChipValue($event)" formControlName="autoGroup"
                    (keyup.enter)="getChipEnterEvent($event)">
                <mat-autocomplete [panelWidth]="350" autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="getAutoCompleteEvent($event);chipInput.value=''" class="autocomplete-dropdown">
                    <ng-container *ngFor="let group of filteredOptions | async">
                        <mat-optgroup [label]="group.groupName">
                            <mat-option *ngFor="let property of group.list" [value]="property">
                                {{property}}
                            </mat-option>
                        </mat-optgroup>
                    </ng-container>
                </mat-autocomplete>
            </mat-chip-list>
        </mat-form-field>
    </div>
</form>